:root{
    --primary:cadetblue;
    --secondary:#848482;    
    --bg:gainsboro;
}

header img{
    width: 100%;
    height:700px;
    position: absolute;
}
.overlay-1{
    background-color: black;
    width: 100%;
    height: 700px;
    position: absolute;
    opacity: 0.7;
    background-attachment: fixed;
}
.overlay-2{
    background-color: gray;
    width: 100%;
    height: 700px;
    position: absolute;
    opacity: 0.1;
}
.nav{
    position: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 15%;
    padding: 1rem 3rem 1rem 1rem;
    left: 20%;
    z-index: 2;    
}
.nav .menu{
    background-color: var(--primary);
    width: 32px;
    height: 3px;
    cursor: pointer;
    z-index: 2;
}
.nav .menu::before, .menu::after{
    content: "";
    position: absolute;
    background-color: var(--primary);
    width: 32px;
    height: 3px;
    cursor: pointer;
}
.menu::before{
    transform: translatey(10px);
}
.menu::after{
    transform: translatey(-10px);
}
.menu-none{
    display: none;
}
.menu-link{
    position:absolute;
    background-color: black;
    top: 100%;
    padding: 1rem 2rem;
    left: 0;
    width: 100%;
    display: inline;    
}


.menu ul li{
    font-size: 20px;
    line-height: 60px;
    transition: padding-left 1s;
    list-style-type: none;
}
.menu ul li:hover{
    color: var(--primary);
    padding-left: 1rem;
}

#content-1{
    position: absolute;
    color: white;
    text-align: center;
    top: 35%;
    left: 16%
}

#content-1 h1{
    font-size: 80px;
}
#content-1 h2{
    font-size: 30px;
    color:var(--primary);
}
#content-1 p{
    font-size: 20px;
}

#content-1 div{
    border: 3px solid gray;
    width: fit-content;
    padding: 1rem 2rem;
    margin-top: 3rem;
    font-weight:bold;
    letter-spacing: 3px;
    transition: border 1s;
    cursor: pointer;
}
#content-1 div:hover{
    border: 3px solid var(--primary);
    
}

.content{
    text-align: center;
    margin-top: 3rem;
}
.content h1{
    font-size: 60px;
    color: var(--primary);
}
.content p{
    font-size: 20px;
    margin-top: 1rem;
    color: var(--secondary);
}
.profile{
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.info{
    list-style-type: none;
    line-height: 45px;
}
.info li strong{
    font-size: 25px;
}
.info li span{
    font-size: 20px;
    color:var(--secondary);
}
.skill-bar{
   list-style-type: none;
    width: 35%;
    padding: 0 1rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.skill-bar li{
    margin: 30px 0;
}
.skill-bar li:first-child{
    margin-top: 0;
}
.skill-bar li .skill{
    font-size: 17px;
    font-weight: 500;
}
.skill-bar li .progress-bar{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
                      0px 1px rgba(255,255,255,0.2);
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
}
.progress-bar.html span{
    width: 80%;
}
.progress-bar.css span{
    width: 70%;
}
.progress-bar.javascript span{
    width: 60%;
}
.progress-bar.react span{
    width: 50%;
}
.progress-bar.materialui span{
    width: 30%;
}
.progress-bar.bootstrap span{
    width: 70%;
}
.progress-bar span{
    height: 100%;
    background: var(--primary);
    position: absolute;
    border-radius: 10px;
}
.progress-bar span::before{
    position: absolute;
    content: "";
    right: 0;
    top:-10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width:0px ;
    border-right-width:0px ;
    border-top-color:#000 ;
}
.progress-bar span::after{
    position: absolute;
    right: 0;
    top:-25px;
    color: #fff;
    background: #000;
    padding: 1px 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
}
.progress-bar.html span::after{
    content: "80%";
}
.progress-bar.css span::after{
    content: "70%";
}
.progress-bar.javascript span::after{
    content: "50%";
}
.progress-bar.react span::after{
    content: "50%";
}
.progress-bar.materialui span::after{
    content: "30%";
}
.progress-bar.bootstrap span::after{
    content: "70%";
}

.bg-color{
    background-color: var(--bg);
    width: 100%;
    height: fit-content;
    padding: 2rem;
}
.resume .content div{
    text-align: left;
}
.resume .content ul{
    list-style-type: none;
    margin-top: 1rem;
}
.resume .content .ul{
    margin-top: 2rem;
}
.flex{
    display: flex;
    justify-content: center;
   margin-top: 2rem;
}
.set{
    height: fit-content;
    padding: 3rem 0; 
    z-index: -1;
}

.set .flex div{
    width: 20%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    border-radius: 10px;
    
    
}
.set .flex div img:hover{
    margin-top: 8rem;
}
.set .flex div img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: margin-top 1s;
}
#contact-us{
    background-color:#1B1B1B;
    text-decoration-color: transparent;
    height: fit-content;
    padding: 1rem 0;  
}
#contact-us .form{
    padding: 1rem 20rem;
    z-index: -1;
}
.social{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1rem;
    margin-top: 3rem;
}
.social img{
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
